<h2 class="a11y-hidden">피드 리스트</h2>
<ul class="post-list">
  <li>
    <article class="post-article">
      <a href="#" class="user-wrap">
        <img src="../img/profile.svg" alt="프로필" class="profile" />
        <span class="user-txt">
          <span class="user-title">애월읍 위니브 감귤농장</span>
          <span class="user-description">@ weniv_Mandarin</span>
        </span>
      </a>

      <div class="post-cont">
        <a href="#">
          <span class=" post-text">옷을 인생을 그러므로 없으면 것은 이상은 것은 우리의 위하여, 뿐이다. 이상의 청춘의 뼈 따뜻한 그들의 그와 약동하다. 대고, 못할 넣는 풍부하게
            뛰노는
            인생의
            힘있다.</span>
          <img class="post-img" src="./img/test.jpg" alt="숲이 우거진 풍경" />
        </a>

        <p class="like-comment">
          <button type="button" class="btn-like"><span class="a11y-hidden">좋아요</span>58</button>
          <a href="#" class="btn-comment"><span class="a11y-hidden">댓글</span>12</a>
        </p>
        <p class="date">2020년 10월 21일</p>
      </div>
      <button class="imgbtn-more">더보기</button>
    </article>
  </li>
  <li>
    <article class="post-article">
      <a href="#" class="user-wrap">
        <img src="../img/profile.svg" alt="프로필" class="profile" />
        <span class="user-txt">
          <span class="user-title">애월읍 위니브 감귤농장</span>
          <span class="user-description">@ weniv_Mandarin</span>
        </span>
      </a>

      <div class="post-cont">
        <a href="#">
          <span class="post-text">감귤 잘 자라는 중...❤️</span>
          <img class="post-img" src="./img/test5.jpg" alt="감귤" />
        </a>
        <p class="like-comment">
          <button type="button" class="btn-like"><span class="a11y-hidden">좋아요</span>58</button>
          <a href="#" class="btn-comment"><span class="a11y-hidden">댓글</span>12</a>
        </p>
        <p class="date">2020년 10월 21일</p>
      </div>
      <button class="imgbtn-more">더보기</button>
    </article>
  </li>
  <li>
    <article class="post-article">
      <a href="#" class="user-wrap">
        <img src="../img/profile.svg" alt="프로필" class="profile" />
        <span class="user-txt">
          <span class="user-title">애월읍 위니브 감귤농장</span>
          <span class="user-description">@ weniv_Mandarin</span>
        </span>
      </a>

      <div class="post-cont">
        <a href="#">
          <span class=" post-text">옷을 인생을 그러므로 없으면 것은 이상은 것은 우리의 위하여, 뿐이다. 이상의 청춘의 뼈 따뜻한 그들의 그와 약동하다. 대고, 못할 넣는 풍부하게
            뛰노는 인생의
            힘있다.</span>
        </a>
        <p class="like-comment">
          <button type="button" class="btn-like"><span class="a11y-hidden">좋아요</span>58</button>
          <a href="#" class="btn-comment"><span class="a11y-hidden">댓글</span>12</a>
        </p>
        <p class="date">2020년 10월 21일</p>
      </div>
      <button class="imgbtn-more">더보기</button>
    </article>
  </li>
</ul>