<!-- 상황에 따라 header를 뽑아서 사용하세요. -->
<!-- 예제 참고는 index.html -->
<!-- index.html 접속 url http://127.0.0.1:8080/ -->
<header>
  <!-- top-basic-nav -->
  <button class="btn-back"><span class="a11y-hidden">이전 페이지</span></button>
  <button class="btn-more"><span class="a11y-hidden">메뉴 더보기</span></button>

  <!-- top-search-nav -->
  <!-- <button class="btn-back"><span class="a11y-hidden">이전 페이지</span></button>
    <input type="text" class="input-search" placeholder="계정 검색"></input> -->

  <!-- top-main-nav -->
  <!-- <p class="title-main">오이마켓 피드</p>
  <button class="btn-search"><span class="a11y-hidden">검색창 열기</span></button> -->

  <!-- top-upload-nav -->
  <!-- <button class="btn-back"><span class="a11y-hidden">이전 페이지</span></button>
  <button class="button-ms">저장</button> -->

  <!-- top-chat-nav -->
  <!-- <div class="chat-wrap">
    <button class="btn-back"><span class="a11y-hidden">이전 페이지</span></button>
    <p class="title-chat">애월읍 위니브 감귤농장</p>
  </div>
  <button class="btn-more"><span class="a11y-hidden">채팅창 메뉴 더보기</span></button> -->
</header>