<!-- 상황에 따라 header내 요소가 바뀌어야합니다. -->
<header>
  <!-- top-basic-nav -->
  <!-- <button class="btn-back"></button>
  <button class="btn-more"></button> -->

  <!-- top-search-nav -->
  <!-- <button class="btn-back"></button>
    <input type="text" class="input-search" placeholder="계정 검색"></input> -->

  <!-- top-main-nav -->
  <!-- <p class="title-main">감귤마켓 피드</p>
  <button class="btn-search"></button> -->

  <!-- top-upload-nav -->
  <!-- <button class="btn-back"></button>
  <button class="button-ms">저장</button> -->
  
  <!-- top-chat-nav -->
  <!-- <div class="chat-wrap">
    <button class="btn-back"></button>
    <p class="title-chat">애월읍 위니브 감귤농장</p>
  </div>
  <button class="btn-more"></button> -->
</header>