<section class="profile-my-wrapper">
  <h2 class="a11y-hidden">이거 profile-my</h2>
  <div class="following-wrap">
    <div class="temp-wrap">
      <a class="follower-num" href="/follower">
        <p class="title followers-num">

        </p>
        <p class="title title-sub">followers</p>
      </a>
      <label for="chooseImg" class="chooseImg-label">
        <img src="/img/profile/profile.png" alt="기본프로필사진" class="imgPre">
      </label>

      <a class="following-num" href="/following">
        <p class="title followings-num">

        </p>
        <p class="title title-sub">followings</p>
        </p>
      </a>
    </div>

    <input type="file" id="choose-Img" name="profile-img" accept="image/*" class="ir" />
    <p class="title user-id"></p>
    <p class="title title-sub user-name"></p>
    <p class="user-wrap"></p>
    <div class="btns-wrap"></div>
  </div>
</section>
<section class="product-wrap">
  <p class="title">판매중인 상품</p>
  <ul class="product-list">
  </ul>
</section>