{% extends 'base.html' %}
{% block content %}
{% include './template/menu.html' %}
<h2 class="a11y-hidden">채팅</h2>
<header>
  <button class="btn-back"><span class="a11y-hidden">뒤로</span></button>
  <button class="btn-more"><span class="a11y-hidden">채팅 메뉴</span></button>
</header>

<section class="wrap-chat-list">
  <h2 class="title">chat-list</h2>
  <div class="list-child">
    <!-- 읽지않은 메시지가 있으면 배지 .badge 추가 -->
    <div class="badge"></div>
    <div class="img-profile"></div>
    <div class="content">
      <p class="user-name">애월읍 위니브 감귤농장</p>
      <p class="text">이번에 정정 언제하맨마씸?</p>
    </div>
    <p class="date">2020.10.25</p>
  </div>
  <div class="list-child">
    <div class="img-profile"></div>
    <div class="content">
      <p class="user-name">제주감귤마을</p>
      <p class="text">깊은 어둠의 존재감, 롤스로이스 뉴 블랙 배지...</p>
    </div>
    <p class="date">2020.10.25</p>
  </div>
</section>

<script src="/js/common.js"></script>
{% endblock %}