{% extends 'base.html' %}
{% block content %}
{% include './template/menu.html' %}
<h2 class="a11y-hidden">채팅</h2>
<header>
  <button class="btn-back"><span class="a11y-hidden">뒤로</span></button>
  <button class="btn-more"><span class="a11y-hidden">채팅 메뉴</span></button>
</header>

<section class="mg-header mg-bottom">
  <h2 class="a11y-hidden">chat-list</h2>
  <ul class="chat-list">
    <!-- 읽지않은 메시지가 있으면 배지 .badge 추가 -->
    <li>
      <a href="/chat-room" class="user-wrap new">
        <img src="/img/52_icon.png" alt="프로필" class="profile">
        <span class="user-txt">
          <span class="user-title">오이마켓</span>
          <span class="user-description">오늘부터 이웃, 오이마켓에 오신걸 환영합니다!</span>
        </span>
        <span class="date-time">2020.10.25</span>
      </a>
    </li>
  </ul>

</section>

<script src="/js/common.js"></script>
<script src="/js/chat.js"></script>

{% endblock %}