{% extends 'layout.html' %}
{% block content %}
<header>
  <!-- top-chat-nav -->
  <div class="chat-wrap">
    <button class="btn-back"></button>
    <p class="title-chat">애월읍 위니브 감귤농장</p>
  </div>
  <button class="btn-more"></button>
</header>
<section class="wrap-chat-room">
  <h2 class="title">chat-room</h2>
  <div class="chat-wrap">
    <img src="../img/test.jpg" alt="프로필" class="profile" />
    <p class="chat-content">
      옷을 인생을 그러므로 없으면 것은 이상은 것은 우리의 위하여, 뿐이다. 이상의 청춘의 뼈 따뜻한 그들의 그와 약동하다. 대고, 못할 넣는 풍부하게 뛰노는 인생의 힘있다.
    </p>
    <p class="date-time">12:39</p>
  </div>
  <div class="chat-wrap">
    <img src="../img/test.jpg" alt="프로필" class="profile" />
    <p class="chat-content">
      안녕하세요. 감귤 사고싶어요요요요요
    </p>
    <p class="date-time">12:41</p>
  </div>
  <div class="chat-wrap">
    <img src="../img/test.jpg" alt="프로필" class="profile" />
    <p class="chat-img">
      <img src="./img/test.jpg" alt="테스트" />
    </p>
    <p class="date-time">12:50</p>
  </div>
  <div class="chat-wrap my-chat">
    <p class="chat-content">
      말씀하세요
    </p>
    <p class="date-time">12:50</p>
  </div>
  <div class="chat-wrap my-chat">
    <p class="chat-img">
      <img src="./img/test4.jpg" alt="테스트" />
    </p>
    <p class="date-time">12:50</p>
  </div>
  <div class="chat-wrap my-chat">
    <p class="chat-img">
      <img src="./img/test3.jpg" alt="테스트" />
    </p>
    <p class="date-time">12:50</p>
  </div>
  <div class="chat-wrap my-chat">
    <p class="chat-img">
      <img src="./img/test2.jpg" alt="테스트" />
    </p>
    <p class="date-time">12:50</p>
  </div>
  <div class="chat-wrap my-chat">
    <p class="chat-img">
      <img src="./img/test.jpg" alt="테스트" />
    </p>
    <p class="date-time">12:50</p>
  </div>



</section>
<div class="chat-input-wrap">
  <button class="btn-add-img"></button>
  <div class="label-input">
    <input type="text" placeholder="보낼 내용 입력..." id="text-id" />
  </div>
  <button class="btn-send-message">전송</button>
</div>
{% endblock %}