{% extends 'base.html' %}
{% block content %}
<article class="main-login-container">
    <section class="email-login-page">
        <h1 class="login-text">로그인</h1>
        <div class="label-input" id="login-id-label-input">
            <label for="email-id">이메일</label>
            <input type="email" id="email-id" class="email-inp" />
            <p id="login-id-error-message" class="error-message" style="display: none;">*이미 가입된 이메일 주소입니다.</p>
        </div>

        <div class="label-input" id="login-pw-label-input">
            <label for="password-id">비밀번호</label>
            <input type="password" id="password-id" class="pw-inp" />
            <p id="pw-id-error-message" class="error-message" style="display: none;">*이메일 또는 비밀번호가 일치하지 않습니다.</p>
        </div>

        <button class="button full login-next-btn" disabled="" id="login-btn">다음</button>
        <div class="login-singup">
            <a href="http://localhost:8080/join">이메일로 회원가입</a>
        </div>


    </section>

</article>



<script src="/js/common.js"></script>
<script src="/js/login.js"></script>
{% endblock %}