{% extends 'base.html' %}
{% block content %}

{% include './template/header.html' %}
<section class="padding-wrap mg-header detail">
</section>
<section class="cont-comment magb-60">
  <h2 class="a11y-hidden">댓글</h2>
  <ul class="comment-wrap">
  </ul>

  <div class="comment-in">
    <img src="/img/profile.svg" alt="프로필" class="profile" />
    <label for="comment-box" class="a11y-hidden">댓글</label>
    <input type="text" class="comment-box" placeholder="댓글 입력하기" />
    <button type="button" class="comment-save" disabled>게시</button>
  </div>
</section>

<script src="/js/common.js"></script>
<script src="/js/post.js"></script>
<script src="/js/comment.js"></script>
<script src="/js/like.js"></script>



{% endblock %}