{% extends 'base.html' %}
{% block content %}


{% include './template/menu.html' %}


<header>
  <button class="btn-back"><span class="a11y-hidden">이전 페이지</span></button>
  <button class="btn-more"><span class="a11y-hidden">메뉴 더보기</span></button>
</header>


<section class="mg-header mg-bottom">
  {% include './profile-page.html' %}
    <div class="post-view-type">
    <button type="button" class="imgbtn-list active">목록으로 보기</button>
    <button type="button" class="imgbtn-album">앨범으로 보기</button>
  </div>
</section>

<script src="/js/common.js"></script>
<script src="/js/like.js"></script>
<script src="/js/feed.js"></script>
<script src="/js/follow-toggle.js"></script>
<script src="/js/profile-page.js"></script>
{% endblock %}