{% extends 'layout.html' %}

{% block content %}

<section class="profile-my-wrapper">
    <h2 class="a11y-hidden">이거 profile-my</h2>
    <div class="following-wrap">
        <label for="chooseImg" class="chooseImg-label">
            <img src="img/profile/profile.png" alt="기본프로필사진" class="imgPre">
        </label>
        <input type="file" id="choose-Img" name="profile-img" accept="image/*" class="ir" />


        <p class="title user-id">
            애월읍 위니브 감귤농장
        </p>
        <p class="title title-sub user-name">@weniv_Mandarin</p>
        <p class="user-wrap">
            애월읍 감귤 전국 배송, 귤따기 체험, 감귤 농장</p>
        <a class="follower-num" href="/follower">
            <p class="title followers-num">
                2950
            </p>
            <p class="title title-sub">followers</p>
            <a class="following-num" href="/following">
                <p class="title followings-num">
                    128
                </p>
                <p class="title title-sub">followings</p>
                </p>
            </a>
            <div class="btns-wrap">
            </div>
    </div>
</section>
<section class="product-wrap">
    <p class="title">판매중인 상품</p>
    <ul class="product-list">
    </ul>
</section>

{% endblock %}