{% extends 'base.html' %}
{% block content %}

<header>
  <button class="btn-back"><span class="a11y-hidden">이전 페이지</span></button>
  <button class="btn-more"><span class="a11y-hidden">메뉴 더보기</span></button>
</header>


<section class="mg-header mg-bottom">
  {% include './profile-my.html' %}
  <div class="post-view-type">
    <button type="button" class="imgbtn-list active">목록으로 보기</button>
    <button type="button" class="imgbtn-album">앨범으로 보기</button>
  </div>


</section>

{% include './template/menu-bottom.html' %}

<script src="/js/common.js"></script>
<script src="/js/like.js"></script>
<script src="/js/post-more.js"></script>
<script src="/js/feed.js"></script>
{% endblock %}