{% extends 'base.html' %}

{% block content %}

<section class="upload-wrap mg-header">
  <h2 class="a11y-hidden">게시물 수정</h2>
  <div class="flex">
    <img src="/img/profile.svg" alt="프로필" class="profile" />

    <div class="upload-cont">
      <textarea placeholder="이웃에게 하고싶은 말을 적어주세요!" class="textarea"></textarea>
      <div class="img-wrap">
        <ul>

        </ul>
      </div>
    </div>
  </div>
  <input type="file" class="imgbtn-img" accept="image/*" multiple />
</section>

<header class="flex-reserve">
  <button class="button-ms post-edit">수정</button>
  <button class="btn-back"><span class="a11y-hidden">뒤로</span></button>
</header>

<script src="/js/common.js"></script>
<script src="/js/upload.js"></script>
{% endblock %}