@charset "utf-8";

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    
}

ul {
    display: flex;
    justify-content: space-around;
    -webkit-padding-start: 0px;
    cursor: pointer;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

p {
    margin-top: 40px;
    text-align: center;
}

.top-nav-wrap, .search-nav-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 390px;
    height: 48px;
    border: 1px solid #bdbdbd;
    background-color: #fff;
}
.set-menu {
    position: relative;
    width: 24px;
    height: 24px;
    background: url('./images/icon-\ more-vertical.svg') no-repeat 50% 50%;
    cursor: pointer;
}
.menu-set-list > ul {
    display: inline;
    color: #000;
    font-size: 14px;
    line-height: 18px;
}
input#menu-list {
    display: none;
}
.menu-set-list {
    display: none;
}
input#menu-list:checked + .menu-set-list {
    display: block;
    position: absolute;
    top: 70px;
    left: 350px;
}
.modal-del {
    /* display: none; */
    position: fixed;
    width: 252px;
    height: 110px; 
    margin: 10px auto;
    border: 0.5px solid #bdbdbd;
    border-radius: 10px;
    z-index: 1;
    }
.btn-cancel, .btn-del {
    width: 50%;
    height: 38px;
    padding-bottom: 0;
    border-radius: 10px;
}
.btn-del {
    float: right;
    width: 50%;
    color: #F26E22;
}
.hidden {
    display: none;
}

.search-nav-wrap {
    margin-top: 200px;
}

.footer-nav-wrap{
    width: 390px;
    height: 60px;
    margin-top: 60px;
    border: 1px solid #bdbdbd;
}
.footer-nav-wrap > .footer-nav li, .toggle-set {
    width: 24px;
    height: 24px;
    background: no-repeat 50% 50%;
}
.footer-nav li.selected{
    filter: opacity(0.6) drop-shadow(0 0 0 #78ad78);
    border: 1px solid #78ad78;
    border-radius: 10px;
}
.footer-nav li:first-child {
    background: url('./images/icon-home.svg');
}
.footer-nav li:nth-child(2) {
    background: url('./images/icon-message-circle.svg') ;
}
.footer-nav li:nth-child(3) {
    background: url('./images/icon-edit.svg');
}
.footer-nav li:last-child {
    background: url('./images/icon-user.svg');
}


