main{
    background-color: gray;
    width: 100%;
    height: 1000px;
}

.container{
    position: relative;
    width: 390px;
    height: 844px;
    background-color: #fff;

}

/* ******************** 
******** main search *******
******************** */
#main-page{
    /* display:none; */
    position: relative;
    width:390px;
    height: 844px;
}
#main-page.deactive{
    display: none;
    position: relative;
    width:390px;
    height: 844px;
}

#main-page .main-test{
    position: absolute;
    top:50%;
    left:25%
}


.top-main-nav{
    position: relative;
    border-bottom:1px solid #e0e0e0;
    width: 390px;
    height: 40px;
    padding-top: 12px;   
}

.top-main-nav .top-main-icon{
    position: absolute;
    right:4%;
    top: 12px;
}

.top-main-nav .top-main-input{
    position: absolute;
    width: 300px;
    height: 32px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 5px;
    left: 4.87%;
}

.top-main-nav .top-main-input.active{
    position: absolute;
    width: 300px;
    height: 32px;
    background-color: none;
    border: none;
    left: 4.87%;
    outline: none;
}

.chat-test-btn{
    position: absolute;
    top:35%;
    left:25%
}
.upload-test-btn{
    position: absolute;
    top:40%;
    left:25%
}

/* ******************** 
******** search *******
******************** */
#search-page{
    display: none;
    position: relative;
    width:390px;
    height: 844px;
}

#search-page .search-test{
    position: absolute;
    top:50%;
    left:25%
}

.top-search-nav{
    border-bottom:1px solid #e0e0e0;
    width: 390px;
    height: 40px;
    padding-top: 12px;
}

.top-search-nav .top-search-icon-arrow{
    position: absolute;
    left:4.1%;
    top: 17px;
}

.top-search-nav .top-search-input{
    position: absolute;
    width: 300px;
    height: 32px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 32px;
    left: 14.87%;
}

.top-search-nav .top-search-input::placeholder{
    position: absolute;
    color: #c4c4c4; 
    line-height: 18px;
    font-size: 14px;
    padding-top: 7px;
}

input[type="text"], textarea{
    position: absolute;
    color: black;
    padding: 0 0 0 16px;
    
}

/* ******************** 
******** upload-nav *******
******************** */
#upload-page{
    display: none;
    position: relative;
    width:390px;
    height: 844px;
}

#upload-page .upload-test{
    position: absolute;
    top:50%;
    left:25%
}

.top-upload-nav{
    position: relative;
    border-bottom:1px solid #e0e0e0;
    width: 390px;
    height: 40px;
    padding-top: 12px;
}

.top-upload-nav .top-upload-icon-arrow{
    position: absolute;
    left:4.1%;
    top: 17px;
}

/* 비활성화 */
.top-upload-nav .top-upload-button{
    position: absolute;
    right:4%;
    width: 90px;
    height: 32px;
    border-radius: 4px;
    background-color: #eeeeee;
    border:none;
    color: #666666;
    cursor: pointer;
}

/* 활성화 .on */
.top-upload-nav .top-upload-button.on{
    position: absolute;
    right:4%;
    width: 90px;
    height: 32px;
    border-radius: 4px;
    background-color: #78ad34;
    border:none;
    color: #ffffff;
    cursor: pointer;
}


/* ******************** 
******** chat-nav *******
******************** */
#chat-page{
    display: none;
    position: relative;
    width:390px;
    height: 844px;
}

#chat-page .chat-test{
    position: absolute;
    top:50%;
    left:25%
}

 .top-chat-nav{
    position: relative;
    border-bottom:1px solid #e0e0e0;
    width: 390px;
    height: 40px;
    padding-top: 12px;
}

.top-chat-nav .top-chat-icon-arrow{
    position: absolute;
    left:4%;
    top: 12px;
}

.top-chat-nav .top-chat-text{
    position: absolute;
    width: 300px;
    height: 32px;
    line-height: 25px;
    font-weight: 700;
    font-size: 15px;
    left: 14.87%;
}

.top-chat-nav .top-chat-menu{
    position: absolute;
    right:4%;
    top: 12px;
}