<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title>고영진_top_nav</title>
</head>

<body>
    <main>
        <article class="container">
            <section id="main-page">
                <p class="main-test">메인 페이지입니다.</p>
                <div class="top-main-nav">
                    <a class="top-main-icon" href="#">
                        <img src="img/icon-search.png" alt="#">
                    </a>
                    <input class="top-main-input" type="text" placeholder="'OO동' 근처에서 검색">
                </div>
                <button class="chat-test-btn">채팅페이지로</button>
                <button class="upload-test-btn">업로드페이지로</button>
            </section>

            <section id="search-page">
                <p class="search-test">검색 페이지입니다.</p>
                <div class="top-search-nav">
                    <a class="top-search-icon-arrow" href="#">
                        <img src="img/icon-arrow-left.png" alt="">
                    </a>
                    
                    <input class="top-search-input" type="text" placeholder="계정 검색">
                </div>
            </section>

            <section id="upload-page">
                <p class="upload-test">업로드 페이지입니다.</p>
                <div class="top-upload-nav">
                    <a class="top-upload-icon-arrow" href="">
                        <img src="img/icon-arrow-left.png" alt="">
                    </a>
                    <button class="top-upload-button">저장</button>
                </div>
                    <input class="upload-test-text"type="text" placeholder="내용을 입력하세요">
            </section>

            <section id="chat-page">
                <p class="chat-test">채팅 페이지입니다.</p>
                <div class="top-chat-nav">
                    <a class="top-chat-icon-arrow" href="">
                        <img src="img/icon-arrow-left.png" alt="">
                    </a>
                    <p class="top-chat-text">애월읍 위니브 감귤농장</p>
                    <a href="" class="top-chat-menu">
                        <img src="img/icon-more-vertical.png" alt="">
                    </a>
                </div>
            </section>
        </article>
    </main>
    <script src="./script.js"></script>
</body>

</html>