.cont-wrap {
  width: calc(100% - 6.8rem);
  margin: 3.4rem auto;
}

.post-article {
  position: relative;

  .post-cont {
    padding-left: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    .post-text {
      line-height: 1.4;
    }

    span.post-text {
      display: block;
    }

    .post-img {
      max-height: 40rem;
      max-width: 40rem;
      border-radius: var(--border-img);
    }

    .date {
      font-size: 1.2rem;
      color: #767676;
    }

  }

  .imgbtn-more {
    background: #eee;
    position: absolute;
    top: 0.9rem;
    right: 0;
    width: 3.6rem;
    height: 3.6rem;
  }
}

.post-list {
  margin: 2rem 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.post-view-type {
  display: flex;
  justify-content: end;
  border: 1px solid #dbdbdb;
  border-width: 1px 0;
  padding: 0.5rem 1.2rem;
  gap: 0.4rem;
}

.post-album {
  margin: 2rem 1.6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 0.8rem;

  li {
    padding-top: 100%;
    height: 0;
    position: relative;

    .pack {
      display: block;
      position: absolute;
      top: 1rem;
      right: 1rem;
      width: 2rem;
      height: 2rem;
      background: url(../img/icon-pack.svg) no-repeat 50% 50%;
    }

    a {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.like-comment {

  margin-left: -0.4rem;

  .btn-like,
  .btn-comment {
    padding: 0.6rem 0.6rem 0.4rem 2.8rem;
    font-size: 1.2rem;
    color: #767676;
    border-radius: var(--border-radius);
    transition: all 0.3s;

    &:hover,
    &:focus,
    &:active {
      background-color: #eee;
    }
  }

  .btn-like {
    background: #fff url(../img/icon-heart.svg) no-repeat 0.4rem 50% / 2rem;

    &.on {
      background: #fff url(../img/icon-heart-on.svg) no-repeat 0 50% / 2rem;
    }
  }

  .btn-comment {
    background: #fff url(../img/icon-message.svg) no-repeat 0.4rem 50% / 2rem;
  }
}



//게시물 업로드 페이지
.upload-wrap {
  padding: 2rem 1.6rem;

  .flex {
    width: 100%;
    overflow: hidden;
  }

  textarea {
    border: 0;
    width: 100%;
    outline: none;
    margin-top: 1.6rem;
    font-size: 1.6rem;
    font-family: inherit;
    line-height: 1.4;
    overflow: hidden;

  }

  .upload-cont {
    width: calc(100% - 5rem - 1.2rem);
  }

  .upload-img {
    border-radius: var(--border-img);
    width: 100%;
    max-height: 40rem;
    max-width: 40rem;
  }

  .img-wrap {

    overflow: hidden;
    overflow-x: scroll;

    ul {
      height: 12rem;
      display: flex;
      gap: 0.8rem;

      li {
        height: 100%;
      }
    }


    img {
      height: 100%;
      border-radius: var(--border-img);
    }
  }

  .imgbtn-img {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
  }
}

.flex {
  display: flex;
  gap: 1.2rem;
  align-items: flex-start;
}

.cont-comment {

  .profile,
  .user-wrap .profile {
    width: 3.6rem;
    height: 3.6rem;
  }



  //댓글 리스트
  .comment-wrap {
    border-top: 1px solid #ddd;
    padding: 1rem 1.6rem;

    .user-wrap {
      position: relative;
      align-items: flex-start;




      .user-txt {
        .user-title {
          display: inline-block;
          margin-top: 0.8rem;
          vertical-align: middle;
        }

        .time {
          font-size: 1.2rem;
          color: #767676;

          &::before {
            content: '';
            display: inline-block;
            width: 2px;
            height: 2px;
            background: #ccc;
            vertical-align: middle;
            border-radius: 50%;
            margin: 0 0.8rem;
          }
        }

        .user-comment {
          margin: 1.6rem 0 0.8rem;
          padding-left: 0;
          line-height: 1.4;
          color: #333;
          font-size: 1.5rem;
        }

      }

      .imgbtn-more {
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    .user-comment {
      padding-left: 5rem;
    }


  }

  // 댓글달기
  .comment-in {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 6rem;
    padding: 0.8rem 1.6rem;
    border-top: 1px solid #ddd;
    background: #fff;

    input,
    button {
      font-size: 1.4rem;
      font-family: inherit;
      height: 100%;
    }

    input {
      width: 100%;
      border: 0;
      color: #000;

      &::placeholder {
        color: #c4c4c4;
      }
    }

    button {
      font-weight: bold;
      width: 8rem;
      transition: all 0.3s;
      border-radius: var(--border-radius);
      color: var(--main-color);

      &:disabled {
        color: #c4c4c4;
      }

      &:not(:disabled):hover,
      &:focus {
        background: #f5f5f5;
      }

      &:active {
        background: #eee;
      }
    }
  }
}

.padding-wrap {
  padding: 0 1.6rem 2rem 1.6rem;
}

.magb-60 {
  margin-bottom: 6rem;
}