/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: calc(100% - 32px);
  height: 48px;
  background-color: #ffffff;
  padding: 0 16px;
}
header .btn-back {
  width: 22px;
  height: 22px;
  background-image: url('../img/header&footer/btn-back.png');
  background-size: contain;
  /* margin: 0 0 0 16px; */
}
header .btn-more {
  width: 24px;
  height: 24px;
  background-image: url('../img/header&footer/btn-more.png');
  background-size: contain;
  /* margin: 0 12px 0 0; */
}
header .input-search {
  width: 75%;
  height: 32px;
  background-color: #f2f2f2;
  padding-left: 16px;
  border-radius: 32px;
  border: none;
  /* margin: 0 19px 0 0; */
}
header .input-search::placeholder {
  font-size: 14px;
  font-weight: 400;
}
header .text-main {
  font-size: 18px;
  font-weight: 500;
  /* margin: 0 0 0 16px; */
}
header .btn-search {
  width: 24px;
  height: 24px;
  background-image: url('../img/header&footer/btn-search.png');
  background-size: contain;
  /* margin: 0 12px 0 0; */
}
header .title-chat {
  line-height: 22px;
  font-size: 14px;
  font-weight: 500;
}

/* footer */
footer {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
}
footer button {
  width: 25%;
  height: 100%;
  font-size: 10px;
  font-weight: 400;
  color: #767676;
}
footer button div {
  margin: 0 auto;
  width: 22px;
  height: 22px;
  background-size: contain;
  margin-bottom: 4px;
}
footer .btn-home div {
  background-image: url('../img/header&footer/icon-home.png');
}
footer .btn-chat div {
  background-image: url('../img/header&footer/icon-chat.png');
}
footer .btn-edit div {
  background-image: url('../img/header&footer/icon-edit.png');
}
footer .btn-user div {
  background-image: url('../img/header&footer/icon-user.png');
}
