@font-face {
  font-family: 'GmarketSansLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.main-login-container{
  width: 100%;
  height: 844px;
  background-color: #fff;
}

.email-login-page{
  padding: 0 5%;
}
.login-text{
  text-align: center;
  margin:54px auto 0;   
  font-family: 'GmarketSansLight';
  font-weight: 700;
  font-size: 24px;

}

.label-input{
  margin-top: 40px;
  width: 100%;
  color: #767676;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 5%;

}

/* .email-login-page .login-next-btn{
  margin-top: 5%;
  background-color: #eee;
  border-radius: 4px;
  height: 44px;
  color: #666;
  font-size: 14px;
  font-weight: 400;
  
} */
.login-to-profile{
  pointer-events: none;
  cursor: default;
}

.email-login-page .login-next-btn.success{
  margin-top: 5%;
  background-color: #78AD34;
  border-radius: 4px;
  height: 44px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  
}

.email-login-page .login-singup{
  height: 15px;
  text-align: center;
  margin-top: 25px;
  color: #767676;
  font-size: 14px;
}

.email-login-page .login-singup a:hover{
  color: #414141; 

}


/* ******************** 
******** 프로필 설정 *******
******************** */


.profile-text{
  color: #767676;
  text-align: center;
  margin: 25px 0;
}

.profile-set{
  margin: 0 auto;
}