.product-wrap {
  margin-top: 20px;
  padding-left: 30px;
}
.profile-btns {
    margin-top: 40px;
}

.button-ms.active-button.show{
    background-color: white;
    border: 1px solid #bdbdbd;
    color: #767676;
}
