.following-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    height: calc(100vh - (280px));
    position: relative;
    background-color: #ffffff;
    border-bottom: 5.5px solid #bdbdbd;
}
.following-wrap img {
    margin-bottom: 30px;
}
.following-wrap .user-wrap {
    margin-top: 20px;
    color: #767676;
}
.follower-num, .following-num{
    position: absolute;
    bottom: 280px;
}
.follower-num {
    left: 180px;
}
.following-num {
    right: 180px;
}
.btns-wrap {
    margin-top: 40px;
}

.product-list {
    display: flex;
    padding-top: 16px;
    gap: 20px;
    overflow-x: scroll;
}
.product-list li {
    line-height: 1.4;
}
.product-list p {
    margin-top: 10px;
    font-size: 18px;
}
.product-list em {
    font-size: 14px;
    font-weight: 600;
    color: var(--main-color);
}

.hidden-menu {
    display: none;
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.hidden-menu .hidden-menu-list {
    position: absolute;
    bottom: 0;
    height: 0;
    width: 100%;
    background: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: all .4s;
}

.hidden-menu.active .hidden-menu-list {
    /* display: block; */
    display: none;
    height: auto;
    width: 100%;
    padding: 36px 0 16px;
}
.hidden-menu .hidden-menu-list::before {
    position: absolute;
    content: '';
    top: 16px;
    left: 50%;
    width: 50px;
    height: 4px;
    background-color: #bdbdbb;
    border-radius: 5px;
    transform: translateX(-50%);
}
.hidden-menu .hidden-menu-list a, .hidden-menu .hidden-menu-list button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 46px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    padding-left: 20px;
}