.wrap-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - (108px));
  width: 100%;
  background-color: #ffffff;
  padding: 0;
  margin-top: 48px;
  font-size: 14px;
  font-weight: 400;
  color: #767676;
}
.wrap-search .title {
  display: none;
}
